@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Croissant One", cursive;
}

/* Variable */
:root {
    --pink: #ffafcc;
}

/* Common Style */
button{
    border: none;
    background: none;
    font-family: "Croissant One", cursive;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
