form{
    display: flex;
    flex-flow: column;
    row-gap: 15px;
    align-items: start;
}
form .input-wrap{
    display: flex;
    flex-flow: column wrap;
    row-gap: 5px;
    width: 80%;
}
form .input-wrap input[type="text"]{
    padding: 4px 5px;
    border: 1px solid #8b005d;
}
form .input-wrap input[type='text']:focus{
    outline: none;
    background-color: #caf0f8;
    border-radius: 0px;
}

